body{
    padding:0px;
    margin:0px;
    font-family: Georgia, serif;
}
  /*header-style*/

#goal{
    color:hotpink;
}

span{
    color:hotpink;
}
.mission-content{
    display:flex;
}
.attentiv{
    width:70%;
    float:left;
    padding:20px 20px 20px 130px;
    font-size: 18px;
}

.header-line{
    border-left:4px solid hotpink; 
    padding:0px 10px; 
    font-size: 28px; 
}
.first-img{
    width:300px;
    height:auto;
}
.header-img{
    width:30%;
    float:right;
    padding:0px 40px;
}
#btn{
    font-size: 18px;
    background-color: teal;
    padding:7px;
    border-radius: 10px;
    color:white;
}
#btn:hover{
    background-color: tomato;
}
.note{
    text-align: justify;

}
    /*main style*/
    
.one-year-is-my-goal{
    font-size: 28px;
    color:navy;
}

#mission-note{
    padding:15px;
    text-align: justify;
}
#vission-note{
    padding:15px;
    text-align: justify;
}
#goals-note{
    padding:15px;
    text-align: justify;
}

.one-year-is-my-goal{
    text-align: center;
    padding:20px;
}
.mission-img{
    width:140px;

}
.mission{
    width:300px;
    box-shadow:8px 10px 20px gray;
    background-color:rgb(201, 215, 219);
    border-radius: 20px;
    font-family: Georgia, serif;


}
.vission{
    width:300px;
    box-shadow:8px 10px 20px gray;
    background-color:rgb(221, 221, 163);
    border-radius: 20px;
    font-family: Georgia, serif;
}


.goals{
    width:300px;
    box-shadow:8px 10px 20px gray;
    background-color:rgb(207, 185, 166);
    border-radius: 20px;
    font-family: Georgia, serif;
}
.first-section{
    display:flex;
    justify-content: space-between;
    padding:10px 80px 50px 130px;
}

   /*second-section-style*/

.codding-img{
    width:330px;
}
.second-section{
    display:flex;
    padding:50px 80px 20px 130px;
}
.codding{
    width:50%;
    float: left;   
}

.skill-develop{
    width:50%;
    float:right;
    padding-top:20px;
}
.skill-develop h1{
    font-size: 28px;
    color:indigo;
}
 /*therd-seacthion-style*/

.therd-seaction{
    display:flex;
    padding:50px 80px 20px 130px;

    }
.therd-seaction h1{
    font-size: 26px;
    
    }
.Necessary-things{
    width:60%;
    float:left;
    padding-right: 130px;
}

.research{
    width:40%;
    float:right;
}

.research-img{
    width:400px;   
}

   /*covid-19 application-style*/

.covid-19{
    padding:50px 80px 20px 130px;
}

#covid-hd-line{
    text-align: center;
    font-size: 38px;
}

.covid-header{
    background-color:red;
    color:white;
    float:left;
    display:inline-block;
    width:100%;
    height:80px;
    

}

#find{
    text-decoration: none;
    background-color:white;
    color:red;
    font-weight: 800;
    font-size:25px;
    float:right;
    padding:10px;
    border:solid;
    text-align: center;

}
.find-help a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.covid-span{
    font-weight: 700;
    font-size: 20px;
}
#covid-img{
    width:100%;
    height:400px;
}
.disease{
    font-size: 20px;
    font-family:Arial Black;
    color:black;

}
.disease a{
    text-decoration: none;
    margin:0px 60px;
}
a:hover{
    color:blue;
}
hr{
   border: solid teal 3px;
   float: left;
   width:100%;
}
.advice{
    display:flex;
}
#parent{
    width:60%;
    float:left;
    text-align: justify;
    font-size: 18px;
}
#dimo{
    width:40%;
    float:right;
    padding-left: 50px;

}
#dimo a{
    text-decoration: none;
    font-size: 22px;
    color:black;
}
#dimo a:hover{
    color:tomato;
}
ul,li{
    font-size: 20px;
    font-family:Bahnschrift SemiBold;
    padding:8px;
    color:teal;
    
}
#text{
    padding:5px;
    box-shadow: 1px 1px 1px;
    text-align: center;
}
label{
    font-size: 20px;
}
.form{
    box-shadow: 5px 5px 10px gray;
    width:200px;
    border-radius: 10px;
    background-color: #E6E6FA;
    
}
.from-shodow{
    padding:10px;
}
.from-shodow h1{
    text-align: center;
    color:navy;
}

    /*footer-style*/

footer{
    padding:10px;
    text-align: center;
    background-color:black;
    color:white;
}
footer h1{
    font-family: Monotype Corsiva;
}
.dimo-anchor{
    padding-bottom:55px;
}
@media screen and (max-width:600px) {
    .mission-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .attentiv{
        width:90%;
        padding:0px;
        margin:0px 2rem;
        
    }
    .header-img{
        width:100%;
        padding:0px;
        margin:0px 2rem;
    }
    .first-section{
        flex-direction: column;
        padding:0rem 2rem;
        
    }
    .mission{
        margin-bottom: 2rem;
    }
    .vission{
        margin-bottom: 2rem;
    }
    .second-section{
        flex-direction: column;
        padding:0px;
        margin:0px 0px;
    }
    .codding{
        width:100%;  
        padding:0px;
        margin:3rem 2rem;
    }
    
    .skill-develop{
        width:100%;
        padding:0px;
        margin:0px 4rem 0px 2rem;
        
    }
    .skill-develop p{
        padding:0px;
        margin-right: 3.5rem;
        text-align: justify;
    }
    .therd-seaction{
        display:flex;
        flex-direction: column-reverse;
        padding:0px;
        margin:0px;
    
        }
    .Necessary-things{
        width:100%;
        margin:1rem 2rem;
       
    }
    .Necessary-things p{
        margin-right:3.5rem;
        text-align: justify;
    }
    
    .research{
        width:100%;
        margin:1rem 2rem;
    }
    .covid-19{
        padding:0;
        margin:0rem 2rem;
    }
    .advice{
        display:flex;
        flex-direction: column;
        padding:0px;
        margin:0px;
    }
    #parent{
        width:100%;
        padding:0px;
        margin:0rem 0rem;
    }
    #dimo{
        width:100%;
        padding:0px;
        margin:0px;
    
    }
   
}